body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #fafafa;
    overflow: hidden;
}

.top-band {
    position: relative;
    height: 30px;
    width: 100%;
    background-color: #E5EAE9;
    display: flex;
    align-items: center;
}

.bottom-band {
    position: absolute;
    height: 25px;
    width: 100%;
    bottom: 0;
    background-color: #E5EAE9;
}


.socials {
    position: relative;
    height: 50px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #47474A;

}

.social-icons {
    opacity: 0.6;
}

.social-icons:hover {
    opacity: 1;
    cursor: pointer;
}

.fa-facebook-f {
    margin: 0px 10px 0px 10px;
}

.name-band {
    position: relative;
    height: 250px;
    width: 100%;
    background-color: #47474A;

}

.DBlogo {
    position: absolute;
    left: 200px;
    top: 60px;

}

.delroybrown {
    position: absolute;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #fafafa;
    font-weight: normal;
    font-size: 80px;
    left: 364px;
    top: 70px;
}

.sub-title {
    position: absolute;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #fafafa;
    font-weight: lighter;
    font-size: 19px;
    left: 364px;
    bottom: 60px;
}

.contactInfoBox {
    position: absolute;
    width: 490px;
    height: 132px;
    border-left: 1px solid #97C3B1;
    right: 238px;
    top: 60px;
    padding-left: 37px;

}

a {
    text-decoration: none;
}


a:active,
a:focus,
a:visited {
    text-decoration: none;
    color: #fff;
}

.phone,
.email,
.address,
.github {
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    

}

.phone {
    margin-top: 4px;
}

.fa-phone-alt,
.fa-at,
.fa-address-card,
.fa-github {
    margin-right: 13px;
}

.greenText {
    color: #97C3B1;
    font-weight: 300;
}

.main-contents {
    position: relative;
    background-color: #fff;
    height: 680px;
    width: 1737px;
    left: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.education-box {
    position: absolute;
    width: 309px;
    height: 235px;
    left: 109px;
    top: 40px;
    display: flex;
    justify-content: center;
}

.education-title {
    position: absolute;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
}

.edu-list {
    position: absolute;
    list-style: none;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    top: 50px;
    font-size: 18px;
    padding: 0;

}

.college {
    margin: 30px 0px 30px 0px;

}

.gcse {
    position: relative;
    left: 28px;
    opacity: 0.7;
    font-size: 14px;
}

.business {
    position: relative;
    margin: 0;
    left: 28px;
    opacity: 0.7;
    font-size: 14px;


}

.webdev {
    position: relative;
    margin: 0;
    left: 28px;
    opacity: 0.7;
    font-size: 14px;

}

.fa-circle {
    color: #97C3B1;
    margin-right: 10px;

}

.myInterests-box {
    position: absolute;
    width: 337px;
    height: 171px;
    top: 40px;
    display: flex;
    justify-content: center;

}

.interests-title {
    position: absolute;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;

}

.music-circle-wrap {
    position: absolute;
    height: 110px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
}

.music-circle {
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: #B5C2BE;
    top: 0;
    border-radius: 100px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07);
}

.music-text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 17.3px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;


}

.music-icon,
.code-icon {
    position: absolute;
    left: 16.5px;
}

.coding-circle-wrap {
    position: absolute;
    height: 110px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.coding-circle {
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: #B5C2BE;
    top: 0;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07);

}

.coding-text {
    position: absolute;
    bottom: 0;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;

}

.books-circle-wrap {
    position: absolute;
    height: 110px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;

}

.books-circle {
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: #B5C2BE;
    top: 0;
    border-radius: 100px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07);

}

.books-text {
    position: absolute;
    bottom: 0;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;

}

.skillsExperience-box {
    position: absolute;
    height: 234px;
    width: 410px;
    right: 109px;
    top: 40px;
    display: flex;
    justify-content: center;

}

.skills-title {
    position: absolute;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;

}

.skills-list {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    top: 45px;
    left: 0;

}

#skills {
    margin: 0px 0px 25px 40px;
}

.skills-list-2 {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    top: 45px;
    right: 0;

}

#skills-2 {
    margin: 0px 40px 25px 0px;
}

.workExperiece-box {
    position: absolute;
    width: 1522px;
    height: 220px;
    bottom: 105px;
    display: flex;
    justify-content: center;

}

.workExperiece-title {
    position: absolute;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;

}

.timeline {
    position: absolute;
    border: 1px solid #000;
    top: 60px;
    width: 1522px;
}

.tgi-box {
    position: absolute;
    width: 290px;
    height: 161px;
    bottom: 4.5px;
    left: 0;
}

.timeline-circle1 {
    position: absolute;
    top: 0;
    left: 12px;
}


.tgifridays-title {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    top: 46px;

}

.tgi-blurb {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    bottom: 0;
    font-weight: 200;
    margin: 0;

}


.cpm-box {
    position: absolute;
    width: 290px;
    height: 161px;
    bottom: 4.5px;
    left: 387px;

}

.timeline-circle1 {
    position: absolute;
    top: 0;
    left: 12px;
}


.cpm-title {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    top: 46px;

}

.cpm-blurb {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    bottom: 23px;
    font-weight: 200;
    margin: 0;

}

.nrs-box {
    position: absolute;
    width: 350px;
    height: 161px;
    bottom: 4.5px;
    right: 420px;

}

.timeline-circle1 {
    position: absolute;
    top: 0;
    left: 12px;
}


.nrs-title {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    top: 46px;

}

.nrs-blurb {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    bottom: 0;
    font-weight: 200;
    margin: 0;

}

.tlodge-box {
    position: absolute;
    width: 350px;
    height: 161px;
    bottom: 4.5px;
    right: 20px;

}

.timeline-circle1 {
    position: absolute;
    top: 0;
    left: 12px;
}


.tlodge-title {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    top: 46px;

}

.tlodge-blurb {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    bottom: 23px;
    font-weight: 200;
    margin: 0;

}

.thinText {
    font-weight: 200;
}

.github:hover {
    font-weight: 300;

}

.github:active {
    font-weight: lighter;

}